* {
  margin: 0;
}

.top-logo-container {
  height: 100px;
  background-color: #fccc40;
}

img.large-logo {
  width: 98%;
  margin: 5px;
  height: 89px;
  object-fit: contain;
}

.terminal-text {
  font-weight: 500;
  color: blue;
}

img.img-circular-logo {
  height: 133px;
  object-fit: contain;
}
.myactive {
  font-weight: 500;
  color: rgb(4, 4, 117) !important;
}
