* {
  margin: 0;
}

.top-logo-container {
  height: 100px;
  background-color: #fccc40;
}

img.large-logo {
  width: 98%;
  margin: 5px;
  height: 89px;
  object-fit: contain;
}

.terminal-text {
  font-weight: 500;
  color: blue;
}

img.img-circular-logo {
  height: 133px;
  object-fit: contain;
}
.myactive {
  font-weight: 500;
  color: rgb(4, 4, 117) !important;
}

.notFound {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
}
.notFound_body {
  display: flex;
  flex-direction: column;
  justify-self: start;
}
.my-nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}
